* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  font-family: arial;
}

body {
  background-color: #ffeded;
}

main {
  width: 100%;
  padding-top: calc(6.5vh + 10px);
  padding-bottom: calc(7vh + 4rem);
}

#container {
  display: flex;
  justify-content: center;
}

#top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ff6668;
}

.top-nav-buttons {
  height: 6.5vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}
.top-nav-buttons li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  color: white;
  font-weight: bold;
}
.top-nav-buttons li:not(:first-child) {
  border-left: 2px solid #ffeded;
}
.top-nav-buttons li.active {
  background-color: #ff4a4d;
}

#add-task-section {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  background-color: #ff6668;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.5);
}

.add-task-btn {
  background-color: #ff4a4d;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.line1,
.line2 {
  background-color: white;
}

.line1 {
  position: absolute;
  width: 2px;
  height: 24px;
  top: 30%;
  left: 49%;
  transform: rotate(90deg);
}

.line2 {
  position: absolute;
  width: 2px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tasks {
  padding: 0 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 10px;
}

.task {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: clamp(225px, 100%, 768px);
  padding: 10px 20px;
  list-style-type: none;
  border-radius: 30px;
  background-color: #ff6668;
  overflow: hidden;
}

.task-body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.task-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.edit-btn,
.delete-btn {
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100%;
  background-size: 50%;
}

.edit-btn {
  background: url("../../assets/images/task-icons/task-edit-icon.png") no-repeat center;
  background-size: 50%;
}

.delete-btn {
  background: url("../../assets/images/task-icons/task-delete-icon.png") no-repeat center;
  background-size: 50%;
}

.task-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}

.tick {
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 100%;
  flex-shrink: 0;
}

.checked .tick {
  background-color: #ff4a4d;
  border: 2px solid white;
  background: url("../../assets/images/task-icons/tick.png") no-repeat center;
  background-size: 50%;
}
.checked .task-text {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

@media (hover: hover) and (pointer: fine) {
  .tick,
  .edit-btn,
  .delete-btn,
  .add-task-btn {
    cursor: pointer;
  }
  .task-actions {
    opacity: 0;
    transition: 0.4s ease;
  }
  .task:hover .task-actions {
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */