* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #ffeded;
}

main {
  overflow-y: scroll;
}

.container {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  height: 100%;
}

.top-nav {
  width: 100%;
  height: 100%;
  background-color: #ff6668;
}

.top-nav-buttons {
  height: 100%;
  display: flex;
  box-shadow: 0rem 0.0625rem 0.3125rem rgba(0, 0, 0, 0.35);
}
.top-nav-buttons li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  list-style-type: none;
  color: white;
  font-weight: bold;
}
.top-nav-buttons li:not(:first-child) {
  border-left: 0.125rem solid #ffeded;
}
.top-nav-buttons li.active {
  background-color: #ff4a4d;
}

.add-task-section {
  width: 100%;
  height: 100%;
  background-color: #ff6668;
  box-shadow: 0rem -0.0625rem 0.625rem rgba(0, 0, 0, 0.5);
}

.add-task-btn {
  background-color: #ff4a4d;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 100%;
  box-shadow: 0rem 0rem 0.25rem rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  transition: 0.4s ease;
}

.add-task-btn:hover {
  opacity: 1;
}

@keyframes rotatePlus {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.plus-icon {
  stroke: white;
  stroke-width: 1px;
  width: 70%;
}

.plus-icon.animate {
  animation: rotatePlus 0.4s ease;
}

.tasks,
.done {
  padding: 0.625rem 0.625rem 2.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.625rem;
}

.task {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.625rem;
  align-items: center;
  justify-content: space-between;
  width: clamp(14.0625rem, 100%, 48rem);
  padding: 0.625rem 1.25rem;
  list-style-type: none;
  border-radius: 1.875rem;
  background-color: #ff6668;
}

.task-body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  overflow: hidden;
}

.task-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.edit-btn,
.delete-btn {
  width: 1.625rem;
  height: 1.625rem;
  background-color: transparent;
  border: 0.0625rem solid white;
  border-radius: 100%;
  background-size: 50%;
  opacity: 0.5;
  transition: 0.4s ease;
}

.edit-btn:hover,
.delete-btn:hover {
  opacity: 1;
}

.edit-btn {
  background: url("../../assets/images/task-icons/task-edit-icon.png") no-repeat center;
  background-size: 50%;
}

.delete-btn {
  background: url("../../assets/images/task-icons/task-delete-icon.png") no-repeat center;
  background-size: 50%;
}

.task-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}

.tick {
  width: 1.625rem;
  height: 1.625rem;
  background-color: white;
  border-radius: 100%;
  flex-shrink: 0;
  transition: background-color 0.4s ease;
}

.tick:hover {
  background-color: #ff4a4d;
  background: url("../../assets/images/task-icons/tick.png") no-repeat center;
  background-size: 50%;
  border: 0.0625rem solid white;
}

.checked .tick {
  background-color: #ff4a4d;
  border: 0.125rem solid white;
  background: url("../../assets/images/task-icons/tick.png") no-repeat center;
  background-size: 50%;
}
.checked .task-text {
  text-decoration: line-through;
  text-decoration-thickness: 0.125rem;
}

.tabs-container ul:not(.active) {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .tick,
  .edit-btn,
  .delete-btn,
  .add-task-btn {
    cursor: pointer;
  }
  .task-actions {
    opacity: 0;
    transition: 0.4s ease;
  }
  .task:hover .task-actions {
    opacity: 1;
  }
}
@media all and (min-width: 768px) {
  .container {
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
  }
  .top-nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .top-nav-buttons {
    flex-flow: column nowrap;
    height: 18vh;
    width: 100%;
    align-self: center;
    justify-self: center;
    box-shadow: none;
  }
  .top-nav-buttons li {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  .top-nav-buttons li:not(:first-child) {
    border-left: none;
  }
  .top-nav-buttons li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .add-task-btn {
    top: 35vh;
    left: 150px;
    height: 2.5rem;
    width: 2.5rem;
  }
  .tasks {
    padding: 1.25rem;
  }
}/*# sourceMappingURL=styles.css.map */