@use "./colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

body {
  background-color: colors.$background;
}

main {
  width: 100%;
  padding-top: calc(6.5vh + 10px);
  padding-bottom: calc(7vh + 4rem);
}

#container {
  display: flex;
  justify-content: center;
}

#top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: colors.$primary;
}

.top-nav-buttons {
  height: 6.5vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: white;
    font-weight: bold;

    &:not(:first-child) {
      border-left: 2px solid colors.$background;
    }

    &.active {
      background-color: colors.$accent;
    }
  }
}

#add-task-section {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7vh;
  background-color: colors.$primary;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.5);
}

.add-task-btn {
  background-color: colors.$accent;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 100%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 50%);
  opacity: 0.8;
  transition: 0.4s ease;
}

.add-task-btn:hover {
  opacity: 1;
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotatePlus {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.plus.animate {
  animation: rotatePlus 0.4s ease;
}

.line1,
.line2 {
  background-color: white;
  width: 2px;
  height: 24px;
  position: absolute;
}

.line1 {
  transform: rotate(90deg);
}

#tasks {
  padding: 0 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 10px;
}

.task {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: clamp(225px, 100%, 768px);
  padding: 10px 20px;
  list-style-type: none;
  border-radius: 30px;
  background-color: colors.$primary;
  overflow: hidden;
}

.task-body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}

.task-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.edit-btn,
.delete-btn {
  width: 26px;
  height: 26px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 100%;
  background-size: 50%;
  opacity: 0.5;
  transition: 0.4s ease;
}

.edit-btn:hover,
.delete-btn:hover {
  opacity: 1;
}

.edit-btn {
  background: url("../../assets/images/task-icons/task-edit-icon.png") no-repeat
    center;
  background-size: 50%;
}

.delete-btn {
  background: url("../../assets/images/task-icons/task-delete-icon.png")
    no-repeat center;
  background-size: 50%;
}

.task-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}

.tick {
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 100%;
  flex-shrink: 0;
  transition: background-color 0.4s ease;
}

.tick:hover {
  background-color: colors.$accent;
  background: url("../../assets/images/task-icons/tick.png") no-repeat center;
  background-size: 50%;
  border: 1px solid white;
}

.checked {
  .tick {
    background-color: colors.$accent;
    border: 2px solid white;
    background: url("../../assets/images/task-icons/tick.png") no-repeat center;
    background-size: 50%;
  }
  .task-text {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .tick,
  .edit-btn,
  .delete-btn,
  .add-task-btn {
    cursor: pointer;
  }

  .task-actions {
    opacity: 0;
    transition: 0.4s ease;
  }

  .task:hover .task-actions {
    opacity: 1;
  }
}
