@use "./colors";
@use "./math";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

body {
  background-color: colors.$background;
}

main {
  overflow-y: scroll;
}

.container {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  height: 100%;
}

.top-nav {
  width: 100%;
  height: 100%;
  background-color: colors.$primary;
}

.top-nav-buttons {
  height: 100%;
  display: flex;
  box-shadow: math.rem(0) math.rem(1) math.rem(5) rgba(0, 0, 0, 0.5);
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    list-style-type: none;
    color: white;
    font-weight: bold;

    &:not(:first-child) {
      border-left: math.rem(2) solid colors.$background;
    }

    &.active {
      background-color: colors.$accent;
    }
  }
}

.add-task-section {
  width: 100%;
  height: 100%;
  background-color: colors.$primary;
  box-shadow: math.rem(0) math.rem(-1) math.rem(10) rgba(0, 0, 0, 0.5);
}

.add-task-btn {
  background-color: colors.$accent;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: math.rem(64);
  height: math.rem(64);
  border: none;
  border-radius: 100%;
  box-shadow: math.rem(0) math.rem(0) math.rem(4) rgba(0, 0, 0, 50%);
  opacity: 0.8;
  transition: 0.4s ease;
}

.add-task-btn:hover {
  opacity: 1;
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes rotatePlus {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.plus.animate {
  animation: rotatePlus 0.4s ease;
}

.line1,
.line2 {
  background-color: white;
  width: math.rem(2);
  height: math.rem(24);
  position: absolute;
}

.line1 {
  transform: rotate(90deg);
}

.tasks,
.done {
  padding: math.rem(10) math.rem(10) math.rem(40);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: math.rem(10);
}

.task {
  display: flex;
  flex-flow: row nowrap;
  gap: math.rem(10);
  align-items: center;
  justify-content: space-between;
  width: clamp(math.rem(225), 100%, math.rem(768));
  padding: math.rem(10) math.rem(20);
  list-style-type: none;
  border-radius: math.rem(30);
  background-color: colors.$primary;
}

.task-body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: math.rem(10);
  overflow: hidden;
}

.task-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: math.rem(10);
}

.edit-btn,
.delete-btn {
  width: math.rem(26);
  height: math.rem(26);
  background-color: transparent;
  border: math.rem(1) solid white;
  border-radius: 100%;
  background-size: 50%;
  opacity: 0.5;
  transition: 0.4s ease;
}

.edit-btn:hover,
.delete-btn:hover {
  opacity: 1;
}

.edit-btn {
  background: url("../../assets/images/task-icons/task-edit-icon.png") no-repeat
    center;
  background-size: 50%;
}

.delete-btn {
  background: url("../../assets/images/task-icons/task-delete-icon.png")
    no-repeat center;
  background-size: 50%;
}

.task-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}

.tick {
  width: math.rem(26);
  height: math.rem(26);
  background-color: white;
  border-radius: 100%;
  flex-shrink: 0;
  transition: background-color 0.4s ease;
}

.tick:hover {
  background-color: colors.$accent;
  background: url("../../assets/images/task-icons/tick.png") no-repeat center;
  background-size: 50%;
  border: math.rem(1) solid white;
}

.checked {
  .tick {
    background-color: colors.$accent;
    border: math.rem(2) solid white;
    background: url("../../assets/images/task-icons/tick.png") no-repeat center;
    background-size: 50%;
  }
  .task-text {
    text-decoration: line-through;
    text-decoration-thickness: math.rem(2);
  }
}

.tabs-container ul:not(.active) {
  display: none;
}
@media (hover: hover) and (pointer: fine) {
  .tick,
  .edit-btn,
  .delete-btn,
  .add-task-btn {
    cursor: pointer;
  }

  .task-actions {
    opacity: 0;
    transition: 0.4s ease;
  }

  .task:hover .task-actions {
    opacity: 1;
  }
}
